*{
  box-sizing: border-box;
}

main{
  margin: 0 auto;
  max-width: 800px;
  border-radius: 5px;
}

.status{
  margin: 20px auto;
  font-size: 15px;
  max-width: 1000px;
  display: flex;
  justify-content: space-between;
  padding: 5px;
  border-bottom: 1px solid black;
}

.display{
  text-align: center;
  margin: 20px auto;
  margin-top: 20px;
  max-width: 1000px;
}


.question{
  font-weight: 700;
  font-size: 18px;
}

form{
  padding-left: 10px;
  text-align: left;
  margin-top: 10px;
  height: 200px;
}

.results{
  height: 150px;
}


.js-answer{
  margin-top: 10px;
  margin-bottom: 10px;
}

button{
  background-color: rgb(67, 86, 252);
  border: none;
  color: white;
  padding: 15px 30px;
  /* margin: 0px auto; */
  display: block;
  font-size: 16px;
  position: absolute;
  top: 240px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 115px;
}


.resultResponse{
  margin-top: 10px;
  margin-bottom: 10px;
}

@media (max-width: 450px){
  button{
    
    top: 260px;
  }
}

@media (max-width: 375px){
  button{
    
    top: 300px;
  }
}


@media (min-width: 600px){
  .status{
    font-size: 25px;
  }
  .welcome{
    font-size: 20px;
  }
}