*{
  box-sizing: border-box;
}

main{
  max-width: 800px;
  border: 1px solid black;
  border-radius: 5px;
}

.status{
  width: 100%;
}

.display{
  width: 100%;
}


button{
  background-color: rgb(67, 86, 252);
  border: none;
  color: white;
  padding: 15px 30px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
}